<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Popular languages that Data Scientists use
- Commonly used libraries used by Data Scientists
- Data Science Tools
- Examples of Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. TensorFlow
5. Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [14]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Sachin Yadav